@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 40px;
  padding: 50px 0 0;
}

.f-sec1 {
  width: 45%;
}

.f-p {
  font-size: 16px;
  font-weight: 500px;
  color: #90A3BF;
  width: 68%;
}

.logo {
  font-size: 24px;
  color: #3563E9;
  font-weight: 700;
  margin-bottom: 20px;
}

.uls {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.sec {
  margin-left: 20px;
}

.f-hd {
  font-size: 20px;
  font-weight: 600;
}

.f-li {
  font-size: 16px;
  margin-top: 20px;
  color: #90A3BF;

}

@media (max-width:768px) {
  .logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .footer-main {
    flex-direction: column;
  }

  .sec {
    margin-left: 20px;
    width: 25%;
  }

  .uls {
    width: 80%;
  }

  .f-hd {
    font-size: 16px;
  }

  .f-li {
    font-size: 14px;
    margin-top: 10px;
  }

  .f-sec1 {
    margin-bottom: 30px;
    width: 80%;
    margin-left: 20px;
  }
}

@media (max-width:425px) {
  .uls {
    flex-direction: column;
  }

  .f-hd {
    margin-top: 20px;
  }

  .sec {
    width: 100%;
  }
}

.last {
  border-top: 1px solid #13131329;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 30px;
}

.l-sec2 {
  display: flex;
  width: 40%;
  gap: 20px;
}

.l-sec1 {
  width: 60%;
}

.last {
  flex-direction: column;
  font-size: 14px;
}

.l-sec1 {
  width: 100%;
}

.l-sec2 {
  width: 100%;
  margin-top: 20px;
}

.lt-p {
  width: 50%;
}


.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.products-all {
  background-color: #F6F7F9;
  font-family: "Plus Jakarta Sans";
  padding: 50px 0;
}

.product-title {
  color: #90A3BF;
  font-size: 16px;
}

.view-btn {
  color: #3563E9;
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px;
}

.single-product {
  background-color: #fff;
  border-radius: 8px;
  width: 23%;
  padding: 30px 10px;
  margin-bottom: 20px;
}

.title-name {
  width: 85%;
}

.like {
  width: 15%;
}

.products .h-icon {
  margin: 0;
}

.price-rent,
.features,
.p-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
}

.feature-img {
  height: 20px;
  width: 33%;
}

.diff {
  width: 22%;
}

.feature-img img {
  width: 80%;
}

.p-title {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}

.name {
  font-size: 13px;
  color: #90A3BF;
}

.image {
  width: 100%;
  margin: 30px 0;
}

.image img {
  width: 100%;
}

.price {
  font-size: 14px;
  color: #1A202C;
  font-weight: 300;
  width: 50%;
}

.discount {
  color: #90A3BF;
  text-decoration: line-through;
  font-weight: 700;
  display: block;
}

.price-size {
  font-size: 16px;
  font-weight: 600;
}

.button {
  background-color: #3563E9;
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
}

.show {
  width: 15%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
}

@media(max-width: 991px) {
  .single-product {
    width: 48%;
    margin-bottom: 20px;
  }

  .show {
    width: 30%;
  }
}

@media (max-width: 425px) {
  .single-product {
    width: 100%;
  }

  .show {
    width: 80%;
  }
}

.selection{
  background-color: #F6F7F9;
}
.main{
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.label {
  margin-left: 8px;
  font-weight: 600;
  font-size: 16px;
}
.select{
  padding-bottom: 10px;
}
.heading-2{
  font-weight: 700;
  font-size: 16px;
}
.para{
  font-size: 12px;
  color: rgba(144, 163, 191, 1);
}
.compound, .selectors ,.selection-main ,.mid{
  display: flex;
}
.mid{
  background-color: #3563E9;
  color: #fff;
  height:20%;
  padding:20px 15px;
  border-radius: 8px;
  margin-top: 40px;
}
.up-arrow, .down-arrow{
  font-size: 18px;
}
.selection-main{
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
}
.drop-down{
  font-size: 24px;
  margin-left: 15px;
}
.space{
  margin-left: 20px;
}
.location ,.date{
  border-right: 2px solid #e7e8eb;
}
.date ,.time{
  padding-left: 20px;
}
.date,.location{
  padding-right: 20px;
}
.changes{
  display: none;
}
@media(max-width:1024px){
  .main{
    padding: 15px;
  }
  .date ,.time{
    padding-left: 10px;
  }
  .selection-main{
    flex-wrap: nowrap;
    width: 98%;
  }
  .mid{
    margin-left:8px ;
    margin-right:8px ;
  }
}
@media(max-width:768px){
  .para{
    display: none;
  }
  .changes{
    display: block;
  }
  .selection-main{
    flex-wrap:wrap;
  }
}
@media(max-width:425px){
  .main{
    padding: 5px;
  }
  .drop-down{
    margin-left: 3PX;
  }
  .heading-2{
    font-size: 14px;
    font-weight: 600;
  }
  .date ,.time{
    padding-left: 2px;
  }
}
.banner-main{
  background-color: #F6F7F9;
  padding-top: 50px;
}
.banner-m{
  display: flex;
 background-color: #F6F7F9;
 font-family: "Plus Jakarta Sans", sans-serif;
 width: 90%;
 justify-content: space-between;
 margin: 0 auto;
 flex-wrap: wrap;
}
.banner1{
  background-image: url("/bg1.png");
}
.banner2{
  background-image: url("/bg2.png");
}
.banner1, .banner2{
  padding:20px;
  border-radius: 8px;
  width: 49%;
}
.banner-img{
  float: right;
}
.heading1{
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  width: 60%;
  margin-bottom: 20px;
}
.paragraph-b{
  color: #fff;
  font-size: 16px;
  width: 60%;
  margin-bottom: 20px;
}
.spy, .spy1{
  padding: 20px 10px;
  width: 30%;
  font-size: 16px;
}
.spy1{
  background-color: rgba(84, 166, 255, 1);
}
@media(max-width:991px){
  .heading1{
    width: 80%;
    font-size: 26px;
  }
  .paragraph-b{
    font-size: 14px;
    width: 80%;

  }
  .spy, .spy1{
    width: 50%;
    font-size: 14px;
    padding: 10px 8px;
  }
}
@media(max-width:768px){
  .banner2{
    display: none;
  }
  .banner1{
    width: 98%;
  }
  .banner-m{
    width: 98%;
    margin: 0 auto;
  }
  .heading1{
    width: 70%;
    font-size: 20px;
  }
  .paragraph-b{
    width: 50%;
  }
  .spy, .spy1{
    width: 30%;
  }
}
@media(max-width:425px){
  .heading1{
    width: 90%;
    font-size: 20px;
  }
  .paragraph-b{
    font-size: 12px;
    width: 80%;
  }
  .spy, .spy1{
    width: 45%;
    font-size: 12px;
    padding: 8px 5px;
  }
}
.h-sec2, .h-sec3, .h-main{
  display: flex;
}
.side{
  display: flex;
  gap: 10px;
}
.h-sec3{
  gap: 20px;
}
.h-main{
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.h-sec2{
  color: #596780;
  border:1px solid #caccd0;
  padding: 10px;
  border-radius: 25px;
  margin-left: 30px;
}
.h-i{
  font-size: 24px;
}
.option{
  margin-left: 100px;
}
.search{
  margin-right: 10px;
}
.type{
  font-size: 15px;
}
.h-icons{
  border: 1px solid #caccd0;
  padding: 5px 8px ;
  border-radius: 100%;
  font-size: 24px;
  height: 70%;
  color: #596780;
}
.logo-h{
  font-size: 24px;
  color: #3563E9;
  font-weight: 700;
  margin-bottom: 20px;
}
@media(max-width:991px){
  .option{
    margin-left: 50px;
  }
  .h-icons{
    font-size: 20px;
    padding: 6px;
    height: 60%;
  }
  .h-main{
    width: 98%;
  }
}
@media(max-width:768px){
  .h-icons{
    display: none;
  }
  .h-sec2{
    margin-left: 0px;
    padding: 7px;
  }
  .h-i{
    font-size: 18px;
  }
  .type{
    font-size: 12px;
  }
  .option{
    margin-left: 30px;
  }
  h-ico{
    width: 30;
    height: 20;
  }
}
@media(max-width:425px){
  .side{
    flex-direction: column;
  }
  .option{
    margin-left: 80px;
  }
  .h-main{
    width: 100%;
  }
  .logo-h{
    width: 10%;
  }
  .h-ico{
    margin-left: -80px;
  }
}
.main-sec, .side-main{
  margin-left: 20px;
  padding-bottom: 100px;
}
.component1, .component2 ,.side-m{
  margin-bottom: 30px;
}
.small, .numbers, .s-head{
  color: #90A3BF;
}
.small, .s-head{
  font-size: 12px;
  margin-bottom: 20px;
}
.side-text , .side-t{
 margin-bottom: 15px;
}
.header-main{
  border-bottom: 0.5px solid #caccd0;
}
.large-h, .side-text ,.side-t{
  font-size: 18px;
  font-weight: 450;
  color: #596780;
}
.filter,.side-m, .card-part3,.card-part5{
  display: flex;
}
.card-part3{
  margin-top: 20px;
}
.h{
  margin-top: 20px;
}
.m{
  background-color: #3563E9;
  width: 70%;
  padding: 10px 10px;
  border-radius: 10px;
}
.t{
  color: #fff;
}
.Side-bar{
  width: 20%;
}
.side2{
  width: 80%;
}
.changes{
  width: 100%;
}
.side-t{
  margin: 0 20px;
}
.logout{
  margin-top: 70px;
}
.c-card{
  display: block;
}
.card1-main{
  background-color: #fff;
}
.card-part1, .nissan{
  font-size:22px ;
  font-weight: 650;
}

.card-part1{
margin-bottom: 15px;
}
.sport, .no{
  color: #596780 ;
  font-size: 16px;
  font-weight: 500;
}
.no{
  margin-left: 100px;
}
.content-car{
  margin-left: 15px;
}
.Cards{
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-left: 20px;
}
.discount-p, .same-p, .prghs{
  color: #90A3BF;
}
.hdgs{
  font-weight: 600;
}
.car-rents{
  margin: 30px ;
}
.rentals-h{
  margin-left: 100px;
}
.rentals-h{
  margin-left: 100px;
}
.rentals-ha{
  margin-left: 150px;
}
.top-b{
  color: #3563E9;
  margin-left: 180px;
}
.car-rents{
  border-bottom: 0.5px solid #e7e8eb;
  padding-bottom: 20px;
}
.colors, .transaction-part{
  background-color: #fff;
}
.colors{
  margin-bottom: 30px;
}
.columns{
  justify-content: center;
  display: flex;
  padding: 30px 0;
}
.card1-main, .transaction-part, .colors{
  padding: 20px 10px;
  border-radius: 10px;
}
.same-p{
  margin-left: 15px;
  width: 100%;
  font-size: 14px;
}
.same-h{
  font-size: 14px;
  margin-left: 50px;
}
.same{
  margin-top: 20px;
  margin-left: 30px;
}
.h-top{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.top-i{
  margin-left: 230px;
  margin-top: 10px;
}
.heads-1{
  font-size: 24PX;
  font-weight:700 ;
}
.p-middle{
  color: #90A3BF;
}
.middle-t{
  margin-left: 50px;
  margin-top: -120px;
}
.middle,.page3, .columns{
  display: flex;
}
.columns{
  background-color: #F6F7F9;
  width: 80%;
  flex-wrap: wrap;
 }
.card1-main{
  margin-left: 50px;
}
.profile{
  width: 20%;
}
.same-img{
  margin-top: 8px;
}
.discount-price{
  font-size: 33px;
  font-weight: 700;
  margin-left: 30px;
}
.card-part5{
  margin-top: 20px;
  padding-top: 40px;
  border-top: 0.5px solid #ebeced;
}
.same,.top, .flex, .car-rents, .transaction-h{
  display: flex;
}
.rentals-he{
  margin-left: 10px;
}
@media(max-width:768px){
  .main-sec{
    display: none;
    width: 0%;
  }
  .side2  {
    width: 100%;
  }
}
@media(max-width:1351px){
  .colors{
    margin-top: 20px;
  }
  .profile{
    width: 40%;
  }
  .columns{
    padding-right: 20px;
  }
}
@media(max-width:768px){
  .profile{
    display: none;
  }
  .page3{
    background-color: #F6F7F9;
  }
  .columns{
    padding-right: 0px;
    justify-content: center;
  }
  .hdgs, .prghs{
    font-size: 14px;
  }
  .rentals-h{
    margin-left: 50PX;
  }
  .rentals-ha{
    margin-left: 80px;
  }
  .top-b{
    margin-left: 100px;
    font-size: 14px;
  }
  .h-top{
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
  }
  .top-i{
    margin-left: 100px;
  }
  .middle{
    flex-direction: column;
  }
  .middle-2{
    margin-top: 50px;
  }
}